<!--Navbar para admin-->
<div *ngIf="identidad === 'admin'">
  <app-admin-navbar></app-admin-navbar>
</div>

<!--Navbar para paciente o especialista-->
<div *ngIf="identidad === 'paciente' || identidad === 'especialista'">
  <app-barranav></app-barranav>
</div>

<div class="container mt-3 mb-3">
  <div *ngIf="!usuario">
    <div class="text-center">
      <div class="spinner-grow text-secondary" role="status">
        <span class="visually-hidden">Cargando...</span>
      </div>
      <p>Cargando...</p>
    </div>
  </div>
  <div *ngIf="usuario">
    <div *ngIf="identidad === 'admin'">
      <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="card bg-dark text-white">
            <img
              class="img-fluid especialidad-img mb-2"
              src="{{ usuario.foto1 }}"
              alt="Foto de perfil"
              height="300"
            />
            <div class="card-body">
              <h5 class="card-title">
                {{ usuario.nombre }} {{ usuario.apellido }}
              </h5>
              <p class="card-text">DNI: {{ usuario.dni }}</p>
              <p class="card-text">Edad: {{ usuario.edad }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="identidad === 'paciente'">
      <div class="row">
        <div class="col-lg-5 col-md-6 col-sm-12">
          <div class="card bg-dark text-white">
            <div class="row">
              <img
              class="img-fluid especialidad-img mb-2"
                src="{{ usuario.foto1 }}"
                alt="Foto de perfil"
                height="300"
                width="300"
              />
              <img
              class="img-fluid especialidad-img mb-2"
                src="{{ usuario.foto2 }}"
                alt="Foto de perfil"
                height="300"
                width="300"
              />
            </div>
            <div class="card-body">
              <h5 class="card-title">
                {{ usuario.nombre }} {{ usuario.apellido }}
              </h5>
              <p class="card-text">DNI: {{ usuario.dni }}</p>
              <p class="card-text">Edad: {{ usuario.edad }}</p>
              <p class="card-text">Obra Social: {{ usuario.obraSocial }}</p>
              <button class="btn btn-secondary" (click)="verhistorias()">
                Descargar historias clínicas
              </button>
              <button
                class="btn btn-secondary mt-3"
                (click)="verhistoriasFiltrada()"
              >
                Descargar historias clínicas por Especialista
              </button>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="filtrar" class="col-sm-10">
        <div class="row">
          <div *ngFor="let especialista of especialistasT" class="col-sm-3 m-1">
            <button
              class="btn btn-secondary text-white"
              type="button"
              id="{{ especialista.uid }}"
              (click)="filtrarEspecialistas(especialista.uid)"
            >
              <p>{{ especialista.nombre }}</p>
              <img
                [src]="especialista.foto1"
                width="100"
                height="100"
                alt="Imagen de {{ especialista.nombre }}"
                class="img-fluid especialidad-img mb-2"
                />
            </button>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="identidad === 'especialista'" class="row">
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="card bg-dark text-white">
          <img
            class="img-fluid especialidad-img mb-2"
            src="{{ usuario.foto1 }}"
            alt="Foto de perfil"
            height="300"
          />
          <div class="card-body">
            <h5 class="card-title">
              {{ usuario.nombre }} {{ usuario.apellido }}
            </h5>
            <p class="card-text">DNI: {{ usuario.dni }}</p>
            <p class="card-text">Edad: {{ usuario.edad }}</p>
            <p class="card-text">Especialidades:</p>
            <ul>
              <li *ngFor="let especialidad of usuario.especialidades">
                {{ especialidad }}
                <p>
                  Horario:
                  {{ horario[usuario.especialidadesMap[especialidad]] }}
                </p>
              </li>
            </ul>
            <button
              (click)="mostrarHorarios = !mostrarHorarios"
              class="btn btn-secondary"
            >
              Actualizar horarios
            </button>
            <p></p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div *ngIf="mostrarHorarios" class="card bg-dark text-white">
          <div class="card-body">
            <h3 class="card-title">Actualizar horarios</h3>
            <div *ngFor="let especialidad of usuario.especialidades">
              <h5>{{ especialidad }}</h5>
              <p>
                Horario actual:
                {{ horario[usuario.especialidadesMap[especialidad]] }}
              </p>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  name="{{ especialidad }}"
                  [(ngModel)]="horario[usuario.especialidadesMap[especialidad]]"
                  value="mañana"
                />
                <label class="form-check-label">Mañana</label>
              </div>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  name="{{ especialidad }}"
                  [(ngModel)]="horario[usuario.especialidadesMap[especialidad]]"
                  value="tarde"
                />
                <label class="form-check-label">Tarde</label>
              </div>
              <p></p>
            </div>
            <p
              class="btn btn-warning"
              *ngIf="!sonIguales(horario, estadoInicialHorarios)"
            >
              Tienes cambios sin guardar
            </p>
            <p></p>
            <button class="btn btn-secondary" (click)="guardar()">Guardar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
