<!--Navbar para admin-->
<div *ngIf="identidad === 'admin'">
  <app-admin-navbar></app-admin-navbar>
</div>

<!--Navbar para especialista-->
<div *ngIf=" identidad === 'especialista'">
  <app-barranav></app-barranav>
</div>

<div class="container text-white mt-3">
  <div *ngIf="!loading">
    <div *ngIf="identidad === 'admin'">
      <!-- Fab por cada paciente -->
      <div class="fab-container">
        <ng-container *ngFor="let historia of historiasClinicasUnicas">
          <div class="fab">
            <div class="fab-content">
              <button
                class="btn btn-light button-style"
                (click)="
                  mostraryDescargarHistoriasClinicasDePaciente(historia.idPaciente)
                "
                [style.backgroundImage]="'url(' + historia.fotoPaciente + ')'"
              ></button>
              <p class="texto">{{ historia.Paciente }}</p>
            </div>
          </div>
        </ng-container>
      </div>

      <!-- Historia del paciente seleccionado -->
      <div *ngIf="historiasClinicasPorPaciente.length > 0; else noHistorias">
        <div
          *ngFor="let historia of historiasClinicasPorPaciente"
          class="card mb-3 historia-card"
        >
          <div class="card-header historia-card-header">
            <h2 class="card-title">Historia Clínica</h2>
            <h4 class="card-subtitle">
              Especialidad: {{ historia.Especialidad | uppercase }}
            </h4>
            <h4 class="card-subtitle">
              Paciente: {{ historia.Paciente | uppercase }}
            </h4>
            <h4 class="card-subtitle">Fecha: {{ historia.fecha }}</h4>
          </div>
          <div class="card-body historia-card-body">
            <p>
              <strong>Altura:</strong> {{ historia.historiaClinica?.altura }} cm
            </p>
            <p>
              <strong>Peso:</strong> {{ historia.historiaClinica?.peso }} kg
            </p>
            <p>
              <strong>Temperatura:</strong>
              {{ historia.historiaClinica?.temperatura }} °C
            </p>
            <p>
              <strong>Presión:</strong> {{ historia.historiaClinica?.presion }}
            </p>
            <div
              *ngFor="
                let dato of historia.historiaClinica?.datosDinamicos | keyvalue
              "
            >
              <p>
                <strong>{{ dato.key }}:</strong> {{ dato.value }}
              </p>
            </div>

            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                (change)="mostrarResena(historia, $event)"
              />
              <label class="form-check-label">Ver Reseña</label>
            </div>

            <!-- Muestra la reseña solo si el checkbox está marcado y el uid de la historia clínica es igual al uid seleccionado -->
            <div
              *ngIf="mostrar && historia.uid === uidSeleccionado"
              class="alert alert-info mt-3"
              role="alert"
            >
              <strong>Reseña:</strong> {{ historia.resena }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="loading" class="text-center">
    <div class="spinner-grow text-secondary" role="status">
      <span class="visually-hidden">Cargando...</span>
    </div>
    <p>Cargando pacientes...</p>
  </div>
</div>

<ng-template #noHistorias>
  <div class="no-historias-card">
    <div class="no-historias-icon">
      <i class="fas fa-info-circle"></i>
    </div>
    <div class="no-historias-message">
      <h4>No hay historias clínicas disponibles</h4>
      <p>Seleccione un paciente para ver su historial clínico.</p>
    </div>
  </div>
</ng-template>
