<app-barranavinicial @fadeScaleAnimation></app-barranavinicial>
<div class="container mt-5">
  <div class="registro-buttons text-center">
    <button class="btn btn-gpt btn-lg rounded-pill" (click)="mostrarRegistro('paciente')" [class.active]="mostrarRegistroPacientes">
      <img src="assets/img/paciente.png" alt="Registro de Paciente" class="registro-icon">
    </button>
    <button class="btn btn-gpt btn-lg rounded-pill" (click)="mostrarRegistro('especialista')" [class.active]="mostrarRegistroEspecialistas">
      <img src="assets/img/especialista.png" alt="Registro de Especialista" class="registro-icon">
    </button>
  </div>
</div>

<div class="registro-form mt-3 text-center">
  <div *ngIf="mostrarRegistroPacientes" @slideInAnimation>
    <app-registropaciente></app-registropaciente>
  </div>
  <div *ngIf="mostrarRegistroEspecialistas" @slideInAnimation2>
    <app-registroespecialista></app-registroespecialista>
  </div>
</div>
<router-outlet></router-outlet>
