.btn-gpt {
  color: #ffffff;
  background-color: #4a4a4a;
  border-color: #4a4a4a;
}

.btn-gpt:hover,
.btn-gpt:focus {
  background-color: #636363;
  border-color: #636363;
}

.registro-buttons {
  display: flex;
  justify-content: center;
}

.registro-buttons .btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin: 0 10px; /* Espacio entre los botones */
}

.registro-icon {
  width: 100px; /* Ajusta el tamaño de las imágenes según sea necesario */
  height: auto;
}
