<app-admin-navbar></app-admin-navbar>
<div class="container text-white">
  <h2>Especialistas Pendientes de Aprobación</h2>
  <div *ngIf="loading" class="text-center">
    <div class="spinner-grow text-secondary" role="status">
      <span class="visually-hidden">Cargando...</span>
    </div>
    <p>Cargando...</p>
  </div>
  <div *ngIf="!loading" class="row">
    <ng-container *ngFor="let especialista of especialistas">
      <div class="col-lg-4 col-md-6 col-sm-12 my-2" *ngIf="especialista.verificado === 'false'">
        <div class="card bg-dark text-white especialista-card">
          <img [src]="especialista.foto1" class="img-fluid especialidad-img mb-2" />
          <div class="card-body">
            <h5 class="card-title">{{ especialista.nombre }} {{ especialista.apellido }}</h5>
            <p class="card-text">Especialidades: {{ especialista.especialidades.join(', ') }}</p>
            <p class="card-text">Edad: {{ especialista.edad }}</p>
            <p class="card-text">DNI: {{ especialista.dni }}</p>
            <div>
              <p class="card-text">Especialista Pendiente de Aprobación</p>
              <button (click)="aceptarEspecialista(especialista)" class="btn btn-success">Aceptar</button>
              <button (click)="rechazarEspecialista(especialista)" class="btn btn-danger m-2">Rechazar</button>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>

  <h2>Especialistas Aprobados</h2>
  <div *ngIf="loading" class="text-center">
    <div class="spinner-grow text-secondary" role="status">
      <span class="visually-hidden">Cargando...</span>
    </div>
    <p>Cargando...</p>
  </div>
  <div *ngIf="!loading" class="row">
    <ng-container *ngFor="let especialista of especialistas">
      <div class="col-lg-4 col-md-6 col-sm-12 my-2" *ngIf="especialista.verificado === 'true'">
        <div class="card bg-dark text-white especialista-card">
          <img [src]="especialista.foto1" class="img-fluid especialidad-img mb-2" />
          <div class="card-body">
            <h5 class="card-title">{{ especialista.nombre }} {{ especialista.apellido }}</h5>
            <p class="card-text">Especialidades: {{ especialista.especialidades.join(', ') }}</p>
            <p class="card-text">Edad: {{ especialista.edad }}</p>
            <p class="card-text">DNI: {{ especialista.dni }}</p>
            <div class="d-flex justify-content-between">
              <span class="btn btn-success">Especialista Aceptado</span>
              <button (click)="rechazarEspecialista(especialista)" class="btn btn-danger">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-ban" viewBox="0 0 16 16">
                  <path d="M15 8a6.973 6.973 0 0 0-1.71-4.584l-9.874 9.875A7 7 0 0 0 15 8M2.71 12.584l9.874-9.875a7 7 0 0 0-9.874 9.874ZM16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0"/>
                </svg>
              </button>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>

  <h2>Especialistas Rechazados</h2>
  <div *ngIf="loading" class="text-center">
    <div class="spinner-grow text-secondary" role="status">
      <span class="visually-hidden">Cargando...</span>
    </div>
    <p>Cargando...</p>
  </div>
  <div *ngIf="!loading" class="row">
    <ng-container *ngFor="let especialista of especialistas">
      <div class="col-lg-4 col-md-6 col-sm-12 my-2" *ngIf="especialista.verificado === 'null'">
        <div class="card bg-dark text-white especialista-card">
          <img [src]="especialista.foto1" class="img-fluid especialidad-img mb-2" />
          <div class="card-body">
            <h5 class="card-title">{{ especialista.nombre }} {{ especialista.apellido }}</h5>
            <p class="card-text">Especialidades: {{ especialista.especialidades.join(', ') }}</p>
            <p class="card-text">Edad: {{ especialista.edad }}</p>
            <p class="card-text">DNI: {{ especialista.dni }}</p>
            <div class="d-flex justify-content-between">
              <span class="btn btn-danger">Especialista Rechazado</span>
              <button (click)="aceptarEspecialista(especialista)" class="btn btn-success">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-lg" viewBox="0 0 16 16">
                  <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022"/>
                </svg>
              </button>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>
<router-outlet></router-outlet>
