<app-admin-navbar></app-admin-navbar>
<div class="container text-white mt-3 mb-3">
  <div class="mb-3">
    <label for="filtro" class="form-label"
      >Filtrar por especialidad o especialista:</label
    >
    <input
      #filtro
      type="text"
      class="form-control bg-dark text-white"
      id="filtro"
      (input)="filtrarTurnos()"
    />
  </div>
  <div *ngIf="loading" class="text-center">
    <div class="spinner-grow text-secondary" role="status">
      <span class="visually-hidden">Cargando...</span>
    </div>
    <p>Cargando los turnos de la clinica...</p>
  </div>

  <div style="height: 600px; overflow: auto; margin-bottom: 3%;">
    <div *ngFor="let turno of turnosFiltrados | async">
      <div class="card mb-3 bg-dark text-white border-secondary">
        <div class="card-body">
          <h4>
            Estado del turno:
            <span
              [ngClass]="{
                'estado-aceptado': turno.estado === 'aceptado' && turno.estado !== 'finalizado',
                'estado-rechazado': turno.estado === 'rechazado' || turno.estado === 'cancelado',
                'estado-espera': turno.estado === 'espera',
                'estado-finalizado': turno.estado === 'finalizado'
              }"
            >
              {{ turno.estado }}
            </span>
          </h4>

          <h6 class="card-title">
            Fecha: {{ turno.fecha }} a las {{ turno.hora }} hs.
          </h6>
          <p class="card-text">Especialista: {{ turno.Especialista }}</p>
          <p class="card-text">Especialidad: {{ turno.Especialidad }}</p>
          <p class="card-text">Paciente: {{ turno.Paciente }}</p>
          <div class="card mb-3 bg-secondary text-white border-secondary" *ngIf="turno.historiaClinica !== null">
            <div class="card-header bg-dark text-white border-secondary">
              <h2>Historia Clínica</h2>
            </div>
            <div class="card-body">
              <p>
                <strong>Altura:</strong> {{ turno.historiaClinica.altura }} cm
              </p>
              <p><strong>Peso:</strong> {{ turno.historiaClinica.peso }} kg</p>
              <p>
                <strong>Temperatura:</strong>
                {{ turno.historiaClinica.temperatura }} °C
              </p>
              <p>
                <strong>Presión:</strong> {{ turno.historiaClinica.presion }}
              </p>
              <div
                *ngFor="
                  let dato of turno.historiaClinica.datosDinamicos | keyvalue
                "
              >
                <p>
                  <strong>{{ dato.key }}:</strong> {{ dato.value }}
                </p>
              </div>
            </div>
          </div>
          <div
            class="form-group"
            *ngIf="comentario && turno.uid == turnoA?.uid"
          >
            <label for="turnoComentario">Motivo:</label>
            <textarea
              class="form-control bg-secondary text-white border-secondary"
              id="turnoComentario"
              rows="3"
              [(ngModel)]="motivoCancelacion"
            ></textarea>

            <button
              type="button"
              class="btn btn-outline-danger mt-2"
              (click)="cancelarTurno()"
            >
              Confirmar cancelación
            </button>
          </div>

          <div class="d-flex justify-content-end">
            <div
              *ngIf="
                turno.estado != 'finalizado' && turno.estado !== 'cancelado'
              "
            >
              <button
                type="button"
                class="btn btn-danger"
                (click)="cargarComentario(turno)"
              >
                Cancelar Turno
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
